/*.kaw{
	display: flex;
   justify-content: center;
	text-align: center;
}*/
/*
.body{
	background-image: url("kawolegal pics/office.jpg");

}

.content{
	display: flex;
	justify-content: center;
	align-content: center;
}*/

.base{
	background-color: black;
}

.banner{
	display: flex;
	align-items: center;
	justify-content: center;
}
/*
.body1{
	height:100vh;
}*/
/*#body{
	/*height: 100px;*/
	
   background-image: url("kawolegal pics/office.jpg")
}
*/
.footer{
	margin-top: 5px;
	background-color: black;
}

.footer-row{
	display: flex;
	justify-content: space-evenly;
}
   

.button{
	display: flex;
	margin-top: 5px;
}

.login{
	display: flex;

	justify-content: space-betweens;

	align-content: center;

	justify-content: center;
}

#mmm{

	margin-top: 20px;
}

#mmm1{
	margin-top: 40px;
}

#search{
	display: flex;
	justify-content: space-evenly;
}